.container{
    width: 100%;
    height: 100%;
    background-color: #82BFF5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.label{
    margin-bottom: 5px;
}

.logo{
    margin-left: 20px;
    font-size: 15;
}

.h1{
    margin-bottom: 100px;
    font-size: 42px;
}

.formContainer{
    height: 100%;
    background-color: white;
    width: 50%;
    border-radius: 50px 0 0 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.imagensContainer{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 0;
}
.logoDiv{
    width: 100%;
    text-align: start;
}

